{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "eslint-config-prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module",
        "tsconfigRootDir": "./"
    },
    "plugins": [
        "react",
        "@typescript-eslint",
        "eslint-plugin-prettier"
    ],
    "rules": {
        "no-useless-escape": "warn",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "react/prop-types": "off",
        "@typescript-eslint/no-explicit-any": "warn",
        "@typescript-eslint/no-empty-interface": "off",
        "react/display-name": "off",
        "import/no-anonymous-default-export": "off"
    }
}
